* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: DaysOne;
  src: url("../assets/font/DaysOne-Regular.ttf"); }
html,
body {
  height: 100vh;
  width: 100%;
  background: white;
  font-size: 20px;
  color: #38332C;
  font-family: 'Prompt', 'Poppins', sans-serif;
  word-wrap: break-word; }

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase; }

.container--orange {
  background: #EFC245;
  width: 100%; }

.container--white {
  background: #F7F5F2;
  width: 100%; }

.wrapper {
  max-width: 1200px;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  margin: 0 auto; }

.diavita {
  font-family: 'DaysOne', sans-serif;
  color: #107A43; }

/*header*/
.header-logo {
  max-width: 300px;
  display: inline-block;
  margin-bottom: 50px; }

.header-list {
  display: inline-block;
  list-style: none;
  vertical-align: top;
  margin-top: 13.5px;
  width: 115px;
  float: right;
  margin-left: calc(100% - 420px); }

.header-item {
  display: inline-block; }

.header-item:first-child {
  margin-right: 10px; }

.header-icon {
  width: 50px; }

.container-wrapper {
  display: flex;
  width: 100%;
  min-height: 250px; }

.container {
  display: inline-block;
  margin: auto;
  width: 49%; }

.header-caption {
  font-size: 28px;
  color: #D17442;
  text-transform: uppercase;
  margin-bottom: 20px; }

.header-text {
  font-size: 24px;
  color: #D17442;
  margin-bottom: 20px; }

.header__container {
  display: inline-block;
  position: relative;
  width: 49%; }

.cloud,
.town,
.car {
  position: absolute; }

.cloud {
  z-index: 1;
  width: 20px; }

.cloud-1 {
  width: 100px;
  left: 10%;
  animation: cloud_1 8s ease infinite; }

.cloud-2 {
  width: 80px;
  left: 2%;
  animation: cloud_2 7s ease infinite; }

.cloud-3 {
  width: 80px;
  left: 55%;
  top: 5%;
  animation: cloud_3 9s ease alternate infinite; }

.cloud-4 {
  width: 100px;
  left: 80%;
  animation: cloud_4 8s ease infinite; }

.cloud-5 {
  width: 80px;
  left: 40%;
  animation: cloud_5 8s ease alternate infinite; }

@keyframes cloud_1 {
  0% {
    top: 2%; }
  25% {
    top: 5%; }
  50% {
    top: 3%; }
  75% {
    top: 5%; }
  100% {
    top: 2%; } }
@keyframes cloud_2 {
  0% {
    top: 20%; }
  10% {
    top: 20.5%; }
  25% {
    top: 22%; }
  50% {
    top: 21%; }
  75% {
    top: 22%; }
  100% {
    top: 20%; } }
@keyframes cloud_3 {
  10% {
    top: 2%; }
  25% {
    top: 4%; }
  50% {
    top: 2%; }
  75% {
    top: 5%; }
  100% {
    top: 1%; } }
@keyframes cloud_4 {
  0% {
    top: 13%; }
  10% {
    top: 16%; }
  25% {
    top: 15%; }
  50% {
    top: 16%; }
  75% {
    top: 14%; }
  100% {
    top: 13%; } }
@keyframes cloud_5 {
  0% {
    top: 17%; }
  10% {
    top: 19%; }
  25% {
    top: 16%; }
  50% {
    top: 19%; }
  75% {
    top: 17%; }
  100% {
    top: 20%; } }
.town {
  z-index: 2;
  width: 100%; }

.car {
  height: 30px; }

.car-orange {
  right: 0;
  top: 58%;
  z-index: 3;
  animation: moveCarLeft 9s linear infinite; }

.car-yellow {
  right: 30px;
  top: 60%;
  z-index: 5;
  animation: moveCarLeft 6s linear infinite; }

.car-green {
  left: 0;
  top: 61%;
  z-index: 6;
  animation: moveCarRight 10s linear infinite; }

.car-blue {
  right: 60px;
  top: 59%;
  z-index: 4;
  animation: moveCarLeft 12s linear infinite; }

.car-red {
  left: 30px;
  top: 63%;
  z-index: 7;
  animation: moveCarRight 8s linear infinite; }

@keyframes moveCarLeft {
  49.5% {
    transform: scale(1, 1); }
  50% {
    transform: scale(-1, 1);
    right: 90%; }
  100% {
    transform: scale(-1, 1);
    right: 0; } }
@keyframes moveCarRight {
  0% {
    transform: scale(-1, 1); }
  49.5% {
    transform: scale(-1, 1); }
  50% {
    transform: scale(1, 1);
    left: calc(100% - 90px); }
  100% {
    transform: scale(1, 1);
    left: 0; } }
.header__container--hide {
  display: none; }

/*base*/
.wrapper--orange,
.wrapper--white {
  display: flex; }

.wrapper--white {
  min-height: 400px; }

.image--left {
  display: inline-block;
  max-width: 500px;
  width: 49%; }

.image--bottom {
  display: none; }

.text {
  padding: 10px 0;
  box-sizing: border-box; }

.caption {
  padding: 50px 0;
  box-sizing: border-box;
  font-size: 26px; }

.caption--top {
  padding: 0 0 50px;
  box-sizing: border-box;
  font-size: 26px; }

.image--centre {
  box-sizing: border-box;
  max-width: 900px;
  width: 100%;
  margin: 50px auto;
  display: none; }

.map__container {
  width: 100%;
  max-width: 900px;
  position: relative;
  margin: 50px auto 0;
  min-height: 370px; }

.map {
  position: absolute; }

.flag {
  position: absolute;
  opacity: 0; }

.it-flag {
  width: 110px;
  opacity: 0;
  transform-origin: 50% 100%;
  animation: moveItFlag 0.2s ease-in forwards; }

.bu-flag {
  width: 140px;
  opacity: 0;
  transform-origin: 0 100%;
  animation: moveBuFlag 0.25s ease-in 0.2s forwards; }

.th-flag {
  width: 130px;
  opacity: 0;
  transform-origin: 30% 100%;
  animation: moveThFlag 0.25s ease-in 0.4s forwards; }

.vn-flag {
  width: 120px;
  opacity: 0;
  transform-origin: 0 100%;
  animation: moveVnFlag 0.25s ease-in 0.6s forwards; }

@keyframes moveItFlag {
  0% {
    transform: rotate(40deg);
    top: -300px;
    right: 37%; }
  20% {
    opacity: 0; }
  75% {
    transform: rotate(0deg); }
  80% {
    right: 38.5%;
    top: -30px;
    transform: rotate(20deg); }
  90% {
    right: 38.5%;
    top: -30px;
    transform: rotate(10deg); }
  100% {
    right: 38.5%;
    top: -30px;
    opacity: 1;
    transform: rotate(0deg); } }
@keyframes moveBuFlag {
  0% {
    transform: rotate(-40deg);
    top: -300px;
    right: 37%; }
  20% {
    opacity: 0; }
  75% {
    transform: rotate(0deg); }
  80% {
    right: 29.5%;
    top: -30px;
    transform: rotate(20deg); }
  90% {
    right: 29.5%;
    top: -30px;
    transform: rotate(-10deg); }
  100% {
    right: 29.5%;
    top: -30px;
    opacity: 1;
    transform: rotate(0deg); } }
@keyframes moveThFlag {
  0% {
    transform: rotate(-40deg);
    top: -300px;
    right: 13%; }
  20% {
    opacity: 0; }
  75% {
    transform: rotate(0deg); }
  80% {
    right: 11.5%;
    top: 17px;
    transform: rotate(20deg); }
  90% {
    right: 11.5%;
    top: 17px;
    transform: rotate(-10deg); }
  100% {
    right: 11.5%;
    top: 17px;
    opacity: 1;
    transform: rotate(0deg); } }
@keyframes moveVnFlag {
  0% {
    transform: rotate(-40deg);
    top: -300px;
    right: 5%; }
  20% {
    opacity: 0; }
  75% {
    transform: rotate(0deg); }
  80% {
    right: 7.5%;
    top: 40px;
    transform: rotate(10deg); }
  90% {
    right: 7.5%;
    top: 40px;
    transform: rotate(-10deg); }
  100% {
    right: 7.5%;
    top: 40px;
    opacity: 1;
    transform: rotate(0deg); } }
.screen__container {
  margin: 50px auto;
  max-width: 900px;
  width: 100%; }

.screenshot {
  display: inline-block;
  margin: 0.5%;
  width: 48%;
  -webkit-box-shadow: 0 5px 0px -1px #e5ddd0;
  -moz-box-shadow: 0 5px 0px -1px #e5ddd0;
  box-shadow: 0 5px 0px -1px #e5ddd0; }

.photo__container {
  margin: 50px auto;
  max-width: 1000px;
  width: 100%; }

.photo {
  display: inline-block;
  max-width: 320px;
  width: 100%;
  -webkit-box-shadow: 0 5px 0px -1px #e5ddd0;
  -moz-box-shadow: 0 5px 0px -1px #e5ddd0;
  box-shadow: 0 5px 0px -1px #e5ddd0; }

.caption--orange {
  font-size: 24px;
  color: #D17442;
  text-transform: uppercase;
  margin-bottom: 20px; }

.text--orange {
  color: #D17442;
  font-size: 20px;
  padding: 10px 0;
  box-sizing: border-box; }

.image--right {
  display: inline-block;
  max-width: 500px;
  width: 49%; }

.image--hide {
  display: none; }

.scheme__container {
  margin: 50px auto;
  max-width: 900px;
  display: flex;
  min-height: 300px; }

.scheme__container--last {
  margin-bottom: 0; }

.scheme__box {
  width: 32%;
  max-width: 450px;
  display: inline-block;
  margin: auto; }

.scheme-img {
  display: block; }

.scheme-text--centre {
  display: inline-block;
  margin: auto;
  color: #324a5e; }

.scheme-text {
  text-align: center;
  margin-top: 20px;
  color: #324a5e; }

.scheme-img--left {
  display: inline-block;
  max-width: 500px;
  width: 100%;
  height: 100%;
  max-height: 400px;
  margin: auto; }

.container__box {
  margin: 50px auto 0;
  max-width: 1000px;
  display: flex; }

.box {
  display: inline-block;
  max-width: 450px;
  width: 100%;
  margin: 0 auto auto; }

.box-img {
  display: block;
  max-width: 250px;
  width: 100%;
  margin: auto; }

.box__container {
  display: flex;
  width: 100%;
  margin: 15px auto; }

.box-icon {
  display: inline-block;
  margin: auto;
  width: 30px;
  max-height: 30px; }

.box-text {
  display: inline-block;
  width: 85%;
  margin: auto; }

.box__caption {
  width: 100%;
  min-height: 80px;
  display: flex; }

.box-caption {
  width: 60%;
  min-width: 250px;
  display: block;
  margin: auto;
  text-align: center; }

/*footer*/
.footer-wrapper {
  display: flex;
  min-height: 400px; }

.footer-img {
  display: inline-block;
  max-width: 500px;
  max-height: 250px;
  height: 100%;
  width: 100%;
  margin: auto; }

.footer__container {
  display: inline-block;
  width: 40%;
  margin: auto; }

.footer-caption {
  color: #D17442;
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 20px; }

.footer-text {
  color: #D17442;
  font-size: 22px;
  margin-bottom: 20px; }

.footer-text--red {
  color: #c32439;
  font-size: 22px;
  margin-bottom: 20px; }

.footer-btn {
  text-align: center;
  padding: 10px 20px;
  box-sizing: border-box;
  background: #DF8766;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 0px -1px #b26249;
  -moz-box-shadow: 0 5px 0px -1px #b26249;
  box-shadow: 0 5px 0px -1px #b26249; }
  .footer-btn:hover {
    background: #f09d7e;
    -webkit-box-shadow: 0 5px 0px -1px #bf6e4a;
    -moz-box-shadow: 0 5px 0px -1px #bf6e4a;
    box-shadow: 0 5px 0px -1px #bf6e4a; }
  .footer-btn:focus {
    background: #f09d7e;
    -webkit-box-shadow: 0 5px 0px -1px #bf6e4a;
    -moz-box-shadow: 0 5px 0px -1px #bf6e4a;
    box-shadow: 0 5px 0px -1px #bf6e4a; }

.footer--bottom {
  display: none; }

.footer-number {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 20px; }

.num-action {
  transform-origin: 50% 50%;
  position: absolute;
  top: -4px;
  animation: numberAction 1s ease-out forwards; }

@keyframes numberAction {
  20% {
    text-shadow: 0 0 5px #c32439;
    font-size: 24px;
    top: -6px; }
  100% {
    text-shadow: none; } }
@media screen and (max-width: 992px) {
  .container--wide {
    width: 100%; }

  .header__container {
    display: none; }

  .header__container--hide {
    display: block;
    position: relative;
    min-height: 394px; }

  .cloud,
  .town,
  .car {
    position: absolute; }

  .cloud {
    z-index: 1;
    width: 20px; }

  .cloud-1 {
    width: 100px;
    left: 10%;
    animation: cloud_1 8s ease infinite; }

  .cloud-2 {
    width: 80px;
    left: 2%;
    animation: cloud_2 7s ease infinite; }

  .cloud-3 {
    width: 80px;
    left: 55%;
    top: 5%;
    animation: cloud_3 9s ease alternate infinite; }

  .cloud-4 {
    width: 100px;
    left: 80%;
    animation: cloud_4 8s ease infinite; }

  .cloud-5 {
    width: 80px;
    left: 40%;
    animation: cloud_5 8s ease alternate infinite; }

  @keyframes cloud_1 {
    0% {
      top: 2%; }
    25% {
      top: 5%; }
    50% {
      top: 3%; }
    75% {
      top: 5%; }
    100% {
      top: 2%; } }
  @keyframes cloud_2 {
    0% {
      top: 20%; }
    10% {
      top: 20.5%; }
    25% {
      top: 22%; }
    50% {
      top: 21%; }
    75% {
      top: 22%; }
    100% {
      top: 20%; } }
  @keyframes cloud_3 {
    10% {
      top: 2%; }
    25% {
      top: 4%; }
    50% {
      top: 2%; }
    75% {
      top: 5%; }
    100% {
      top: 1%; } }
  @keyframes cloud_4 {
    0% {
      top: 13%; }
    10% {
      top: 16%; }
    25% {
      top: 15%; }
    50% {
      top: 16%; }
    75% {
      top: 14%; }
    100% {
      top: 13%; } }
  @keyframes cloud_5 {
    0% {
      top: 17%; }
    10% {
      top: 19%; }
    25% {
      top: 16%; }
    50% {
      top: 19%; }
    75% {
      top: 17%; }
    100% {
      top: 20%; } }
  .town {
    z-index: 2;
    width: 100%; }

  .car {
    height: 40px; }

  .car-orange {
    right: 0;
    top: 82%;
    z-index: 3;
    animation: moveCarLeft 9s linear infinite; }

  .car-yellow {
    right: 30px;
    top: 84%;
    z-index: 5;
    animation: moveCarLeft 6s linear infinite; }

  .car-green {
    left: 0;
    top: 85%;
    z-index: 6;
    animation: moveCarRight 10s linear infinite; }

  .car-blue {
    right: 60px;
    top: 83%;
    z-index: 4;
    animation: moveCarLeft 12s linear infinite; }

  .car-red {
    left: 30px;
    top: 86%;
    z-index: 7;
    animation: moveCarRight 8s linear infinite; }

  @keyframes moveCarLeft {
    49.5% {
      transform: scale(1, 1); }
    50% {
      transform: scale(-1, 1);
      right: 100%; }
    100% {
      transform: scale(-1, 1);
      right: 0; } }
  @keyframes moveCarRight {
    0% {
      transform: scale(-1, 1); }
    49.5% {
      transform: scale(-1, 1); }
    50% {
      transform: scale(1, 1);
      left: calc(100% - 90px); }
    100% {
      transform: scale(1, 1);
      left: 0; } } }
@media screen and (min-width: 769px) {
  .btn-down {
    display: none; } }
@media screen and (max-width: 768px) {
  .btn-down {
    text-align: center;
    padding: 10px 20px;
    box-sizing: border-box;
    background: #DF8766;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 0px -1px #b26249;
    -moz-box-shadow: 0 5px 0px -1px #b26249;
    box-shadow: 0 5px 0px -1px #b26249; }
    .btn-down:hover {
      background: #f09d7e;
      -webkit-box-shadow: 0 5px 0px -1px #bf6e4a;
      -moz-box-shadow: 0 5px 0px -1px #bf6e4a;
      box-shadow: 0 5px 0px -1px #bf6e4a; }
    .btn-down:focus {
      background: #f09d7e;
      -webkit-box-shadow: 0 5px 0px -1px #bf6e4a;
      -moz-box-shadow: 0 5px 0px -1px #bf6e4a;
      box-shadow: 0 5px 0px -1px #bf6e4a; }

  .header__container {
    display: none; }

  .header__container--hide {
    display: block;
    position: relative;
    min-height: 300px;
    margin-top: 20px; }

  .cloud,
  .town,
  .car {
    position: absolute; }

  .cloud {
    z-index: 1;
    width: 20px; }

  .cloud-1 {
    width: 100px;
    left: 10%;
    animation: cloud_1 8s ease infinite; }

  .cloud-2 {
    width: 80px;
    left: 2%;
    animation: cloud_2 7s ease infinite; }

  .cloud-3 {
    width: 80px;
    left: 55%;
    top: 5%;
    animation: cloud_3 9s ease alternate infinite; }

  .cloud-4 {
    width: 100px;
    left: 80%;
    animation: cloud_4 8s ease infinite; }

  .cloud-5 {
    width: 80px;
    left: 40%;
    animation: cloud_5 8s ease alternate infinite; }

  @keyframes cloud_1 {
    0% {
      top: 2%; }
    25% {
      top: 5%; }
    50% {
      top: 3%; }
    75% {
      top: 5%; }
    100% {
      top: 2%; } }
  @keyframes cloud_2 {
    0% {
      top: 20%; }
    10% {
      top: 20.5%; }
    25% {
      top: 22%; }
    50% {
      top: 21%; }
    75% {
      top: 22%; }
    100% {
      top: 20%; } }
  @keyframes cloud_3 {
    10% {
      top: 2%; }
    25% {
      top: 4%; }
    50% {
      top: 2%; }
    75% {
      top: 5%; }
    100% {
      top: 1%; } }
  @keyframes cloud_4 {
    0% {
      top: 13%; }
    10% {
      top: 16%; }
    25% {
      top: 15%; }
    50% {
      top: 16%; }
    75% {
      top: 14%; }
    100% {
      top: 13%; } }
  @keyframes cloud_5 {
    0% {
      top: 17%; }
    10% {
      top: 19%; }
    25% {
      top: 16%; }
    50% {
      top: 19%; }
    75% {
      top: 17%; }
    100% {
      top: 20%; } }
  .town {
    z-index: 2;
    width: 100%; }

  .car {
    height: 40px; }

  .car-orange {
    right: 0;
    top: 90%;
    z-index: 3;
    animation: moveCarLeft 9s linear infinite; }

  .car-yellow {
    right: 30px;
    top: 92%;
    z-index: 5;
    animation: moveCarLeft 6s linear infinite; }

  .car-green {
    left: 0;
    top: 93%;
    z-index: 6;
    animation: moveCarRight 10s linear infinite; }

  .car-blue {
    right: 60px;
    top: 91%;
    z-index: 4;
    animation: moveCarLeft 12s linear infinite; }

  .car-red {
    left: 30px;
    top: 95%;
    z-index: 7;
    animation: moveCarRight 8s linear infinite; }

  @keyframes moveCarLeft {
    49.5% {
      transform: scale(1, 1); }
    50% {
      transform: scale(-1, 1);
      right: 100%; }
    100% {
      transform: scale(-1, 1);
      right: 0; } }
  @keyframes moveCarRight {
    0% {
      transform: scale(-1, 1); }
    49.5% {
      transform: scale(-1, 1); }
    50% {
      transform: scale(1, 1);
      left: calc(100% - 90px); }
    100% {
      transform: scale(1, 1);
      left: 0; } } }
@media screen and (min-width: 769px) and (max-width: 992px) {
  .photo__container {
    max-width: 900px;
    width: 100%; }

  .map__container {
    display: none; }

  .image--centre {
    display: block; }

  .photo {
    width: 32%; } }
@media screen and (min-width: 481px) and (max-width: 768px) {
  .header-img,
  .image--left,
  .image--right,
  .footer-img {
    display: none; }

  .header-logo {
    width: 280px; }

  .header-list {
    margin-left: 0;
    float: right; }

  .container-wrapper {
    display: block; }

  .image--bottom {
    display: block; }

  .container:first-child,
  .container:nth-child(2) {
    width: 100%;
    display: block; }

  .container-wrapper:first-child {
    background: url("../assets/pictures/svg/network.svg") no-repeat 0 110%;
    background-size: 70%; }

  .map__container {
    display: none; }

  .image--centre {
    display: block; }

  .photo__container {
    max-width: 640px; }

  .photo {
    width: 49%; }

  .image--hide {
    display: block;
    width: 70%;
    margin: 10px auto 20px; }

  .scheme__container,
  .wrapper--white {
    min-height: 300px; }

  .scheme__box {
    width: 40%; }

  .scheme-img {
    width: 60%;
    display: block;
    margin: 0 auto; }

  .scheme-img--left {
    width: 60%;
    margin-right: 5%; }

  .box-text {
    font-size: 18px; }

  .footer {
    background: #EFC245 url("../assets/pictures/svg/success.svg") no-repeat 100% 100%;
    background-size: 70%; }

  .footer__container {
    width: 100%; } }
@media screen and (max-width: 480px) {
  .header__container--hide {
    min-height: 205px; }

  .caption--top {
    padding-bottom: 20px; }

  .cloud-1,
  .cloud-4 {
    width: 80px; }

  .cloud-2,
  .cloud-5 {
    width: 70px; }

  .cloud-3 {
    width: 60px; }

  .car {
    height: 30px; }

  .car-orange {
    top: 80%; }

  .car-yellow {
    top: 82%; }

  .car-green {
    top: 83%; }

  .car-blue {
    top: 81%; }

  .car-red {
    top: 85%; }

  .wrapper {
    padding: 20px 35px; }

  .caption {
    padding: 25px 0; }

  .header-logo {
    width: 220px;
    margin-bottom: 20px; }

  .header-list {
    margin-top: 3px;
    margin-left: 0;
    float: right; }

  .header-text {
    font-size: 22px; }

  .header-img,
  .image--left,
  .image--right,
  .footer-img {
    display: none; }

  .container-wrapper {
    display: block; }

  .image--bottom {
    display: block; }

  .container:first-child,
  .container:nth-child(2) {
    width: 100%;
    display: block; }

  .screen__container {
    margin: 20px auto; }

  .image--centre {
    display: block;
    margin: 20px auto; }

  .map__container {
    display: none; }

  .image--centre {
    display: block; }

  .screenshot {
    display: block;
    width: 100%;
    margin: 15px 0; }

  .photo__container {
    max-width: 300px;
    margin: 20px auto 10px; }

  .photo {
    margin-bottom: 10px; }

  .image--hide {
    display: block;
    width: 80%;
    margin: 10px auto; }

  .scheme__container {
    margin: 20px auto; }

  .scheme__box--big {
    width: 45%; }

  .scheme__box--small {
    width: 40%; }

  .scheme-img {
    width: 80%;
    display: block;
    margin: 0 auto; }

  .wrapper--white {
    min-height: 250px; }

  .wrapper--white {
    display: block; }

  .scheme-img--left {
    display: block;
    width: 80%;
    max-width: 350px;
    margin: 0 auto 10px; }

  .container {
    display: block;
    width: 100%; }

  .container__box {
    display: block;
    margin: 20px auto 0; }

  .box {
    width: 100%; }

  .footer--bottom {
    display: block;
    width: 98%;
    margin: 0 auto; }

  .footer__container {
    width: 100%; } }
@media screen and (max-width: 320px) {
  .header__container--hide {
    min-height: 135px; }

  .header-logo {
    margin: 0; }

  .header-list {
    float: right;
    display: block;
    width: 115px; }

  .cloud-1,
  .cloud-4 {
    width: 60px; }

  .cloud-2,
  .cloud-5 {
    width: 50px; }

  .cloud-3 {
    width: 40px; }

  .car {
    height: 20px; }

  .car-orange {
    top: 80%; }

  .car-yellow {
    top: 82%; }

  .car-green {
    top: 83%; }

  .car-blue {
    top: 81%; }

  .car-red {
    top: 85%; }

  .wrapper {
    padding: 20px 15px; }

  .scheme__container {
    min-height: 200px; }

  .box-text {
    width: 80%; } }

/*# sourceMappingURL=style.css.map */
